@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-bright-yellow{background:#fdd85d;}
.bg-orange{background:#ff844f;}
.bg-pinky-red{background:#f14b3d;}
.bg-green{background:#60d394}
.bg-light-gray{background:#f8f9fa}
.bg-really-gray{background:#595f65}
.bg-grass{background:#16C172}
.bg-fire{background:#FB9B51}
.bg-water{background:#4A90DD}
.bg-poison{background:#A864C7}
.bg-bug{background:#92BC2C}
.bg-normal{background:#9298A4}
.bg-fighting{background:#CE4265}
.bg-flying{background:#90A7DA}
.bg-ground{background:#DC7545}
.bg-rock{background:#C5B489}
.bg-ghost{background:#516AAC}
.bg-steel{background:#52869D}
.bg-electric{background:#EDD53E}
.bg-psychic{background:#F66F71}
.bg-ice{background:#70CCBD}
.bg-dragon{background:#0C69C8}
.bg-dark{background:#595761}
.bg-fairy{background:#EC8CE5}
.text-bright-yellow{color:#fdd85d}
.text-orange{color:#ff844f}